---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height:100%;
}

body {
	height:100%;
}

.main-container {
  background: #cdd3da;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
  height: calc(100% - 85px);
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 0px;
  width: 100%;
  display:grid;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 0px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  margin-top: 3px;
  font-size: max(min(calc(15px + 0.43vw), 0.93rem), 1.45rem);
  padding-bottom: 0px;
  text-align: center;	
  a {
    color: inherit;
  }
}

h2 {
  margin-top: 3px;
  font-size: max(min(calc(14px + 0.33vw), 0.83rem), 1.35rem);
  padding-bottom: 0px;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 40px;
  color: $gray;
}

p {
  margin: 15px 0;
  padding-bottom: 10px;
  text-align: left;
  font-size: max(min(calc(12px + 0.23vw), 0.43rem), 1.25rem);
  font-family: initial;
}

.about {
  text-align: center;
}

a {
  color: $blue;
  color: #1c5a97;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 375px;
  min-width: 225px;
  margin: 5px;
  justify-self: center;
}

.excerpt-link {
  display:grid;
}

.img-box {
  bottom: 5px;
  height: 55px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  justify-self: center;
  position: absolute;
  display: none;
  color: white;
  text-align: left;
  max-width: 375px;
  min-width: 225px;
  justify-self: center;
  padding-left: 5px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;
  text-align: center;	
}

.masthead {
  padding: 10px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: unset;
  width: auto;
  height: auto;
  margin-top: 5px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
    text-align: center;
    width: 172px;
    min-width:200px;
  }
}

.site-info {
  /* float: left; */

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: cyan;
  cursor: pointer;
  font-family: cochin;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
}

.site-description {
  margin-top: 2px;
  margin-bottom: 1px;	  
  color: cadetblue;
  font-size: 21px;

  @include mobile {
    margin: 3px 0;
  }
}

#resume {
  width:760px;
  height:800px;
  border:2px double;
}

nav {
 /* float: right; */
  margin-top: 3px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 23px;
  }

  .sup-a {
    padding:0px
  }

  .svg-div {
    padding:5px;
  }

  a {
    margin-right: 20px;
    color: #1e4f50;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.rotated-img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(45deg);
  transform: rotate(90deg);
  width: calc(119%);
  justify-self: center;
  position: relative;
  top: 20%;
  margin-bottom: 64px;
}

.pdf {
  width: 89%;
  height: 404%;
  border: 2px double;
  justify-self: center;
}

.entry {
  display: grid;
}

.page {
  margin-left: 30px;
  margin-right: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(353px, 1fr));
  column-gap: 30px;
  row-gap: 10px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  text-align: center;
  padding-bottom: 1em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  margin-left: 30px;
  margin-right: 30px;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  height: 85px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
